@using blazor.jwttest.Shared
@using blazor.jwttest.Client.Classes
@inject ApplicationState AppState

<div class="container h-100">

  <br /><br />

  @if (TodoInfo == null)
  {
    <p><em>@LoadingMessage</em></p>
  }
  else
  {
    <h5>Editing Todo <span class="text-info">ID = @TodoInfo.Id</span></h5>
    <br />

    <form>

      <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input id="title" class="form-control" bind="@TodoInfo.Title" />
      </div>

      <div class="form-group">
        <label for="fulldesc" class="control-label">Full Description</label>
        <textarea id="fulldesc" class="form-control" bind="@TodoInfo.FullDescription" rows="6"></textarea>
      </div>

      <div class="form-group">
        <label for="done" class="control-label">Is Complete?</label>
        <input type="checkbox" id="done" class="form-control" bind="@TodoInfo.Done" />
        <SlideSwitch bind-CheckedState="@TodoInfo.Done"></SlideSwitch>
      </div>

      <div class="form-group">
        <input type="button" value="Save" onclick="@SaveButtonClicked" class="btn btn-success" />
        <input type="button" value="Cancel" onclick="@CancelButtonClicked" class="btn btn-danger" />
      </div>

    </form>
  }

</div>


@functions {

  //TODO: Add some kind of validation service

  [Parameter]
  private Todo TodoInfo { get; set; }

  [Parameter]
  private string LoadingMessage { get; set; }

  [Parameter]
  private Action OnSaveClicked { get; set; }

  [Parameter]
  private Action OnCancelClicked { get; set; }

  public Todo TodoData { get; private set; }

  private void SaveButtonClicked()
  {
    TodoData = TodoInfo;
    OnSaveClicked?.Invoke();
  }

  private void CancelButtonClicked()
  {
    OnCancelClicked?.Invoke();
  }

}
