@using blazor.jwttest.Shared
@page "/"
@inject HttpClient Http

<h1>Todo's List</h1>

@if (todos == null)
{
  <p><em>Loading list...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var todo in todos)
      {
        <tr>
          <td>@todo.Id</td>
          <td>@todo.Title</td>
          <td>@todo.Done</td>
        </tr>
      }
    </tbody>
  </table>
}

<hr />

<h1>Testing</h1>
<button onclick="@update">Update</button>
<input type="checkbox" bind="@TestOption" />
<SlideSwitch CheckedState="@TestOption" CheckedChanged="@ChildUpdate"></SlideSwitch>
<span>State is : @TestOption</span>
<hr />

@functions {

  Todo[] todos;

  private bool TestOption { get; set; }
  private string TheName { get; set; }

  string[] testData = new string[] { "role 1", "role 2", "role 3", "role 4" };

  protected override async Task OnInitAsync()
  {
      todos = await Http.GetJsonAsync<Todo[]>("api/todos/all");
  }

  protected void ChildUpdate(bool value)
  {
      TestOption = value;
      StateHasChanged();
  }

  protected void update()
  {
      StateHasChanged();
  }

}

